[submodule "html/msgtools"]
	path = html/msgtools
	url = git@github.com:MilesEngineering/MsgToolsJS.git
[submodule "embedded/ucplatform"]
	path = embedded/ucplatform
	url = git@github.com:MilesEngineering/ucplatform.git
