/* To style web components, you will need to use custom properties to create
'bridges' (https://meowni.ca/posts/styling-the-dome/) into the shadow dom.
The following custom properties will be applied to the msgtools web components
in the shadow dom, as long as this file is linked to by the html template
where the components are loaded.
 */

/* light theme: */
body.light {
    --color-main: #fff;
    --color-text: #010101;
    --color-offset-1: #76C1D1;
    --color-offset-2: #69779b;
    --color-border: #333333;
    --color-shadow: #ccc;
}
/* dark theme: */
body.dark {
    --color-main: #010101; /* nearly black*/
    --color-text: #f0ece2;
    --color-offset-1: #acdbdf;
    --color-offset-2: #FE7773;
    --color-border: #333333;
    --color-shadow: #000;
}

body {
    background: var(--color-main);
    color: var(--color-text);
    letter-spacing: .035em;
}

a,
button {
    background: var(--color-main);
    color: var(--color-text);
}

button:hover,
.btn:hover {
    background: var(--color-offset-1);
}

button.btn.btn-success {
    background-color: var(--color-offset-2);
    border-color: var(--color-offset-2);
}

/* All the web components styling */

h4 {
    margin-bottom: 25px;
}

.lm_header {
    height: 20px !important;
}

a.button {
    cursor: pointer;
    font-size: 36px;
    line-height: 33px;
}

a.button:hover {
    color: var(--color-offset-1);
    text-decoration: none;
}

.btn-save {
    float: right;
    margin-right: 15px;
}


#layout_container .lm_content {
  overflow-y: scroll;
  padding: 15px;
  max-width: 100% !important;
  max-height: 100% !important;
}

/* FORMS */
input,
textarea {
    color: var(--color-text);
}

select {
    padding: 10px 15px;
    min-width: 250px;
    color: var(--color-text);
}

/* NAVIGATION SECTION */
nav {
    margin: 5px 60px;
    display: flex;
    justify-content: flex-start;
}

nav svg path {
    fill: var(--color-text);
}

nav svg path.background {
    fill: var(--color-main);
}

nav > .dropdown-container > .button {
    margin-right: 15px;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid var(--color-border);
    background: var(--color-main);
    color: var(--color-text);
    border-radius: 2px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 20px 15px;
    -webkit-box-shadow: 4px 0 10px -6px var(--color-shadow);
    -moz-box-shadow: 4px 0 10px -6px var(--color-shadow);
    box-shadow: 4px 0 10px -6px var(--color-shadow);
    transition: .3s;
}

.dropdown span {
    margin-bottom: 15px;
}

.closed {
    display: none !important;
}
.open {
    display: flex !important;
}

.dropdown a,
.dropdown button {
    margin: 0 ;
}

.dropdown .filename-wrapper {
    position: relative;
}
.dropdown .filename-form {
    display: flex;
    position: absolute;
    left: 100%;
    top: -1;
    border: 1px solid var(--color-border);
    border-left-color: transparent;
    background: var(--color-main);
    padding: 15px 30px;
    -webkit-box-shadow: 4px 0 10px -6px var(--color-shadow);
    -moz-box-shadow: 4px 0 10px -6px var(--color-shadow);
    box-shadow: 4px 0 10px -6px var(--color-shadow);
}

.dropdown .filename-form > button {
    order: 2;
    margin-left: 15px;
}

#tab_toggle button {
    margin-bottom: 5px;
}

#menu_toggle {
    padding: 0;
}

#menu_toggle button {
    width: 100%;
    border-radius: 0;
    text-align: left;
    border: 1px solid var(--color-main);
    background: var(--color-main);
    color: var(--color-text);

}

#menu_toggle button:hover,
#menu_toggle button:focus {
    border: 1px solid var(--color-offset-1);
    background: var(--color-offset-1);
    color: var(--color-text);
}

.dark #menu_toggle button:hover,
.dark #menu_toggle button:focus {
    color: var(--color-main);
}

#config_name {
    margin: 11px 0 0 45px;
}


/* theme switch */
.theme-switch {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin-left: 15px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #76C1D1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end theme switch */




/* All msgtools component styling should be defined here in the scope of .msgtools-component */
.msgtools-component {
    --editable-lock-btn-background: no-repeat center/100% url('/html/msgtools/style/icon-lock.png');
    --locked-lock-btn-background: no-repeat center/100% url('/html/msgtools/style/icon-unlock.png');
    /* colors */
    --color-dark: var(--color-main);
    --color-dark-contrast:;
    --color-dark-contrast-2:;
    --color-light-contrast: var(--color-text);
    --color-alert: var(--color-offset-1);
    --color-text:;
    --background-color: var(--color-main);
    --color: var(--color-text);

    /* typography */
    --main-font: var(--main-font-size); /* font-family */
    --main-font-weight: normal; /* font-weight */
    --base-font-size:; /* font-size */
    --lg-font-size:; /* font-size */
    --header-font-size:; /* font-size */
    --header-text-letter-spacing: .085em; /* letter-spacing */
    --header-text-transform:;

    /* buttons */
    --border:;
    --btn-border-width: 1px;
    --btn-margin-top: 1.5em;
    --btn-padding: 6px 15px 5px;
    --btn-color: var(--color-text);
    --btn-radius: 4px;

    /*  Form components */
    --input-margin: .2em .5em .3em 0;
    --input-height:;
    --input-background: var(--color-main);
    --input-color: var(--color-text);
    --input-border-color: var(--color-main);
    --checkbox-margin:;
    --checkbox-height:;


   --tab-color:;
   --tab-background-color:;
   --tab-button-border:;
   --tab-button-padding:;
   --tab-button-padding-hover:;
   --tab-button-transition:;
   --tab-background-hover:;
   --tab-padding:;
   --tab-button-border-bottom:;
   --tab-button-border-hover:;
   --wrapper-padding:;
   --wrapper-border:;
}

.dark .msgtools-component {
    --color-alert: var(--color-offset-2);
}
