

/* All the web components styling */
.msgtools-component {
    --editable-lock-btn-background: no-repeat center/100% url('/html/img/icon-lock.png');
    --locked-lock-btn-background: no-repeat center/100% url('/html/img/icon-unlock.png');
    
}

h4 {
    margin-bottom: 25px;
}

.lm_header {
    height: 20px !important;
}

a.button {
    cursor: pointer;
    font-size: 36px;
    color: black;
    line-height: 33px;
}

a.button:hover {
    text-decoration: none;
}

.btn-save {
    float: right;
    margin-right: 15px;
}


#layout_container .lm_content {
  overflow-y: scroll;
  padding: 15px;
  max-width: 100% !important;
  max-height: 100% !important;
}

/* NAVIGATION SECTION */
nav {
    margin: 5px 60px;
    display: flex;
    justify-content: flex-start;
}

nav > .dropdown-container > .button {
    margin-right: 15px;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background: white;
    padding: 20px 15px;
    -webkit-box-shadow: 4px 0 10px -6px #a9a9a9;
    -moz-box-shadow: 4px 0 10px -6px #a9a9a9;
    box-shadow: 4px 0 10px -6px #a9a9a9;
    transition: .3s;
}

.dropdown span {
    margin-bottom: 15px;
}

.closed {
    display: none !important;
}
.open {
    display: flex !important;
}

.dropdown a,
.dropdown button {
    margin: 0 ;
}

.dropdown .filename-wrapper {
    position: relative;
}
.dropdown .filename-form {
    display: flex;
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid #ccc;
    background: white;
    padding: 15px 30px;
    -webkit-box-shadow: 4px 0 10px -6px #a9a9a9;
    -moz-box-shadow: 4px 0 10px -6px #a9a9a9;
    box-shadow: 4px 0 10px -6px #a9a9a9;
}

.dropdown .filename-form > button {
    order: 2;
    margin-left: 15px;
}

#tab_toggle button {
    margin-bottom: 5px;
}

#menu_toggle {
    padding: 0;
}

#menu_toggle button {
    width: 100%;
    border-radius: 0;
    text-align: left;
}

#menu_toggle button:hover,
#menu_toggle button:focus {
    border: 1px solid darkgrey;
    background: darkgrey;
}

#config_name {
    margin: 11px 0 0 45px;
}
